@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Russo+One&display=swap");

.App {
  background-color: #d1d9da;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: scroll;
  height: calc(100vh - 30px);
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.aboutMeBackground::-webkit-scrollbar {
  display: none;
}
